@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../images/papel.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#to_do {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #E1E9C9;
    padding: 18px;
    border-radius: 8px;
    width: 430px;
    box-shadow: 0 2px 12px #819A9120;
}

#to_do h1{
    color: #EDA35A;
    font-size: 30px;
    text-transform: uppercase;
}

.to-do-form{
    display: flex;
    width: 100%;
}

.to-do-form input {
    background-color: #CADCAE;
    border: none;
    color: #5a5a3a;
    font-size: 16px;
    width: 100%;
    padding: 4px;
    border-bottom: 2.5px solid #819A91;
}


.to-do-form input:focus-visible{
    outline: 2px solid #EDA35A;
}


.to-do-form .form-button {
    border: none;
    min-width: 40px;
    min-height: 40px;
    background-color: #EDA35A;
    border-radius: 100%;
    font-size:  20px;
    color: #fff;
    transition: scale 0.5s ease, background 0.3s;
}

.to-do-form .form-button:hover {
    cursor: pointer;
    scale:  1.05;
    background-color: #CADCAE;
    color: #EDA35A;
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 400px;
    overflow: auto;
}

.task {
    display: flex;
    align-items: center;
    color: #5a5a3a;
    background-color: #CADCAE;
    padding: 8px 12px;
    border-radius: 4px;
    gap: 12px;
}

.task .progress{
    margin-right: 80px;
}

.task .progress.done + .task-description {
    text-decoration: line-through;
    color: #EDA35A;
}

.task .task-description {
    font-size: 16px;
    color: #5a5a3a;
    padding: 4px 0px;
    flex: 1 1 auto;
    word-break: break-word;
    width: auto;
}

.task .task-actions {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: flex-end;
}

.action-button{
    font-size: 16px;
}

.action-button.edit-button {
    color: #819A91;
}

.action-button.delete-button {
    color: #b0413e;
}

.hidden{
    display: none !important;
}

.to-do-form.edit-task.hidden {
    display: none !important;
}

.to-do-form.edit-task {
    width: 100%;
    flex: 1 1 100%;
}

.to-do-form.edit-task input[type="text"] {
    width: 100%;
    background-color: #CADCAE;
    border: none;
    color: #5a5a3a;
    font-size: 16px;
    padding: 4px;
    border-bottom: 2.5px solid #819A91;
    outline: none !important;
    box-shadow: none !important;
    margin: 0;
}

.to-do-form.edit-task input[type="text"]:focus {
    outline: none !important;
    box-shadow: none !important;
}


@media screen and (max-width: 600px) {
    #to_do {
        width: 300px;
    }
}
